@import "../../../shared/theme/letter";
.container{
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
  border-right: 1px solid grey;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
      width:10px;
  }
  &::-webkit-scrollbar:horizontal {
      display: none;
  }

  &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 20px;
      border: 2px solid transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
      background-color: #797979;
      border-radius: 20px;
      border: 2px solid #f1f2f3;
  }

   &::-webkit-scrollbar-track {
      border-radius: 10px;
  }

  .title{
    width: 96%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;

    h1{
      font-size: 20px;

    }
    button{
      width: 80px;
      height: 30px;
      background: transparent;
      border-radius: 10px;
      background-color: rgb(97, 165, 183);
      border: none;
      transition: 0.5s;
      color: white;
      cursor: pointer;

      &:hover{
        border: 1px solid grey;
        background-color: transparent;
        color: black;
      }
    }
  }
  .con-cards{
    width: 100%;
    height: 89%;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: start;
    justify-items: center;


    .con{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 10px;

      .con-title{
        width: 85%;
        height: 30px;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        h3{
          font-size: 14px;
        }
        .linea-left{
          width: 100%;
          height: 4px;
          background-color: red;
        }
        .linea-centro{
          width: 100%;
          height: 4px;
          background-color: orange;
        }
        .linea-right{
          width: 100%;
          height: 4px;
          background-color: green;
        }
      }
      .task{
        width: 85%;
        height: auto;
        background-color: white;
        padding: $paddingCards;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border: 1px solid white;
        box-shadow: $shadowCards;

        &:hover{
          //background-color: rgb(212, 208, 208);
          border: $boderCard ;
        }
        .title-Task {
          h4{
            font-size: $h4Cards;
            padding:  0 10px ;
          }
        }
        .description {
          p{
            font-size: $pCards;
            color: gray;
            padding: 0 10px;
          }
        }
      }
    }
  }
}
