
//color
$background : #F6F8FC;

//color letter
$subTitleCard : rgb(73, 73, 73);

//letter
$h4Cards :16px;
$pCards:12px;

//padding

$paddingCards: 5px;

//shadow
$shadowCards:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

//border
$boderCard : 1px solid #b4b4b4ba;
