<app-navbar></app-navbar>

<div class="formModal" >


  <form action="">
    {{taskForm | json}}
      <div  class="divisore">
        <label for="text" > Title : </label>
        <input type="text" name="title" [(ngModel)]="taskForm.title"  placeholder="title">
      </div>
      <div  class="divisore">
        <label for="text"> descrizione : </label>
        <input type="text" name="descrizione" [(ngModel)]="taskForm.description"  placeholder="descrizione">
      </div>
      <div  class="divisore">
        <label for="text"> Status: </label>
        <select name="status" id="" [(ngModel)]="taskForm.status">
          <option value="pending" >-- Select --</option>
          <option value="pending" >Pending</option>
          <option value="in progress" >In Progress</option>
          <option value="done" >Done</option>
        </select>
      </div>
      <button (click)="addData()">Salva</button>
    </form>
</div>
