<app-navbar></app-navbar>

<div class="container">
  <div class="container-iz">
    <table class="tabla-iz">
      <caption>Task del giorno</caption>
      <tbody class="bod">
        <tr>
          <td>Emil</td>
        </tr>
        <tr>
          <td>Emil</td>
        </tr>
        <tr>
          <td>Emil</td>
        </tr>
        <tr>
          <td>Emil</td>
        </tr>
        <tr>
          <td>Emil</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container-de">
    <div class="container-bacheca">
      <table>
        <caption >Bacheca</caption>
        <table class="tabla">
          <div class="init">
            <tbody>Task da iniziare</tbody>
            <tr>
              <td>Emil</td>
            </tr>
          </div>
          <div class="completare">
            <tbody>Task da completare</tbody>
            <tr>
              <td>Emil</td>
            </tr>
          </div>
          <div class="complete">
            <tbody>Task da completato</tbody>
            <tr>
              <td>Emil</td>
            </tr>
          </div>
        </table>
      </table>
    </div>

  </div>
</div>
