<app-navbar></app-navbar>

<div class="formModal" >


  <form action="">
    {{formProject | json}}
      <div  class="divisore">
        <label for="text" > Title : </label>
        <input type="text" name="title" [(ngModel)]="formProject.nome"  placeholder="title">
      </div>
      <div  class="divisore">
        <label for="text"> descrizione : </label>
        <textarea   size="15" name="descrizione" [(ngModel)]="formProject.description" rows="20" cols="80" placeholder="descrizione"></textarea>
      </div>
      <button (click)="addData()">Salva</button>
    </form>
</div>
