@import "../../../shared/theme/letter";
.container{
  width: 100%;
  height: 88vh;
  display: flex;

  .con-right{
    width: 12%;
    height: 100%;
    border-right: 1px solid #b4b4b4ba;
  }

  .con-centro{
    width: 63%;
    height: 100%;
    background-color: $background;

  }
  .con-left{
    width: 25%;
    height: 100%;
    background-color: $background;
    border-left: 1px solid #b4b4b4ba;
  }
}
