<app-navbar></app-navbar>
<div class="container">
    <div class="con-registrati">
        <h1>Registrati</h1>
        <form action="">
            User : <input type="email" name="user">
            <br>
            Password : <input type="password" name="pass">
        </form>
    </div>
    <div class="con-login">
        <h1>Login</h1>
        <form action="">
            User : <input type="email" name="user">
            <br>
            Password : <input type="password" name="pass">
        </form>
    </div>
</div>